.app {
  width: 100%;
}

.app-content {
  display: flex;
}

.sidebar {
  width: 300px;
  background: #212121;
  color: white;
  -webkit-transition: width 1s;
  transition: width 1s;
  padding: 9px 10px 15px 10px;
}

.sidebar.hidden {
  width: 0px;
  display: none;
  /*display: none;*/
  /*position: fixed;*/
  /*left: 250px;*/
}

.sidebar .input-wrapper {
  width: 100%;
  margin-right: 80px;
  padding: 0px 17px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar .input-wrapper input {
  width: 260px;
}

.sidebar .location-list {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px 15px 10px;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  overflow: auto;
  display: block;
  justify-content: left;
  flex-wrap: wrap;
}

.sidebar .location-list li {
  font-size: 0.9em;
  padding: 5px 10px;
  text-align: left;
}

.sidebar .location {
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
  border: none;
}

.content {
  flex-grow: 1;
}

.content .navbar {
  background-color: #222;
  color: white;
  padding: 15px;
}

.content .navbar .sidebarLink {
  color: white;
  float: left;
}

.content .navbar .title {
  text-align: center;
}

.app-header {
  background-color: #222;
  height: 40px;
  padding-top: 10px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
